body {
    font: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, red, yellow);
    margin: 0;
    /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h2 {
    font: 600 1.5em 'Raleway',
    sans-serif;
    margin-top: 2rem;
}

.cssTextDisplay {
    font: 400 1.25em 'Raleway', sans-serif;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 600px;
    padding: 5px;
}

.site-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}


.container {
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.input-wrapper {
    display: flex;
    justify-content: center;
}

.colour-label {
    font: 400 1.25rem 'Raleway',
    sans-serif;
    padding: 0 1rem 0 2rem;
}

.gradient-wrapper {
    background-color: white;
    border-radius: 5px;
    width: 600px;
}

.copyBtn {
    margin: 1rem;
    padding: 1rem;
    color: rgba(0, 0, 0, .5);
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    font: 400 0.8rem 'Raleway', sans-serif;
}

.copyBtn:hover {
    background-color: white;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

.fa-copy {
    color: rgba(0, 0, 0, .5);
}

.fa-check {
    color: darkgreen;
}

.copied {
    background-color: lightgreen;
}

.hidden {
    display: none;
}